*.pid
*.log
*.pyc
__pycache__/
settings.py

#models/ere_net
#run/entity_relation_jointed_extraction/
#run/DuIE/
#models/spo_net/multi_pointer_net.py
#run/spo_extraction
#run/attribute_extract/drug_mpn

data/
deepIE/chip_rel/res/
cpt/
shell/
pyscripts/
.pytest_cache/
.coverage
dist/
build/
*.egg-info/
Pipfile
.DS_Store

.idea
*.bak


transformer_cpt/
transformer_cpt_en/

deepIE-tiny/