*.pid
*.log
*.pyc
__pycache__/
settings.py

models/ere_net
run/entity_relation_jointed_extraction/
run/DuIE/
models/spo_net/multi_pointer_net.py
run/spo_extraction

drug_jointed_bies/
agumentNER/
instance/
data/
cpt/
fastNLP/
shell/
pyscripts/
.pytest_cache/
.coverage
run/attribute_extract/drug_mpn
dist/
build/
*.egg-info/
Pipfile
.DS_Store

.idea
*.bak



