*.pid
*.log
*.pyc
__pycache__/
settings.py

instance/
data/
cpt/
shell/
pyscripts/
.pytest_cache/
.coverage
run/entity_relation_jointed_extraction/drug_jointed_extract/
dist/
build/
*.egg-info/
Pipfile
.DS_Store

.idea
*.bak

